<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>One Day, One Thing</title>

    <link rel="stylesheet" href="<!-- ROOT_URL -->assets/css/style.css">
</head>

<body>
    <header>
        <h1><a href="<!-- ROOT_URL -->">One Day, One Thing</a></h1>
        <ul class="links">
            <li><a href="<!-- ROOT_URL -->about.html">About</a></li>
            <li><a href="<!-- ROOT_URL -->atom.xml">Feed</a></li>
        </ul>
    </header>

