<article>
    <h3 id="date"><!-- DATE --></h3>
    <nav id="previous"><!-- PREVIOUS -->&nbsp;</nav>
    <nav id="next">&nbsp;<!-- NEXT --></nav>
    <h1 id="title"><!-- TITLE --></h1>
    <h2 id="stuff"><!-- STUFF --></h2>
    <ul class="links">
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this stuff">Tweet this stuff</a></li>
        <li><a href="mailto:example@example.com?subject=This%20stuff%20rocks%21">Suggest an awesome stuff</a></li>
        <li><a href="<!-- ROOT_URL -->about.html">About this website</a></li>
    </ul>
</article>
